NEXT_PUBLIC_SITE_URL=http://localhost:3000 # To change on the different servers as it's used to generate full URLs when needed (see sitemap.ts, ...)
NEXT_PUBLIC_SUPABASE_URL=_
NEXT_PUBLIC_SUPABASE_ANON_KEY=_